body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #0bff50, #0421ff); 
    margin: 0;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 320px;
}

.display {
    background-color: #222;
    color: #fff;
    font-size: 2em;
    padding: 40px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    border: 1px solid #ddd;
    font-size: 1.5em;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    background-color: #f1f1f1;
    transition: background-color 0.3s;
}

.btn:hover {
    background: linear-gradient(to right, #0bff50, #0421ff); 
}

.equal {
    grid-column: span 2;
}
